.header {
  background-color: #3c3c3c;
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hexagon {
  width: 30px;
  height: 30px;
  background-color: #fac30f;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-left: -0.5rem;
  box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.22);
  color: #3c3c3c;
}

.userSession {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.userDetails h4 {
  margin: 0;
}

.menu {
  padding: 0.5rem;
  position: absolute;
  right: 2rem;
  top: 3.8rem;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.menu button {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0.5rem;
}

.menu button:hover {
  background-color: #e6e6e6;
}
