.container {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.controlsContainer {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.filter a {
  font-weight: bold;
}

.tabsContainer {
  gap: 1rem;
}

.tabsContainer button {
  border: none;
  font-size: 16px;
  background-color: transparent;
  margin: 0 1rem;
  border-bottom: 4px solid transparent;
  margin-top: 1rem;
}

.tabsContainer button:hover {
  border-bottom: 4px solid #fac30f;
}

.tabsContainer button:first-child {
  border-bottom: 4px solid #fac30f;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.time h4 {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.time a {
  text-decoration: underline;
  color: #2f64f7;
}

.chartContainer {
  padding: 1rem 0rem;
  display: flex;
  overflow-y: scroll;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (max-width: 765px) {
  .container {
    width: 100%;
  }

  .chartContainer {
    overflow-x: scroll;
    display: flex;
    justify-items: center;
  }
}
