.container {
  display: flex;
  background: #fafafa;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  transition-duration: 0.2s;
}

.container:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.title {
  font-size: 18px;
  color: #68686c !important;
}

.date {
  color: #8c8c90;
}

.img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.noImg {
  width: 60px;
  height: 60px;
  background-color: #3232;
}
