.circularChartContainer {
  text-align: left;
  padding: 16px;
  background: #fafafa;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  width: 120px;
}

.chartLabel {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.chartTotal {
  margin: 8px 0;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.chartSubtitle {
  margin: 0;
  font-size: 14px;
  color: #888;
  height: 35px;
}

.progressRing {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressRingInner {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: conic-gradient(
    #ff5a5f calc(var(--percentage, 0) * 1%),
    #d3d3d3 0
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartValue {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  z-index: 3;
}

.chartInnerCircle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}
